<robot name="ar5_08_l6_o6_flange">
  <link name="flange_link">
    <inertial>
      <origin xyz="-2.09481995286e-07 0.000516304562215 0.00898841629518" rpy="0 0 0" />
      <mass value="0.044499999" />
      <inertia ixx="1.20223116926e-05" iyy="1.21254820463e-05" izz="1.82919370911e-05" ixy="-2.1573478613e-10" ixz="-4.98366122213e-11" iyz="-7.51965808466e-08" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/flange_plate.stl" />
      </geometry>
      <material name="flange_plate_material">
        <color rgba="0.25 0.28 0.32 1" />
      </material>
    </visual>
    <visual>
      <geometry>
        <mesh filename="meshes/flange_adapter.stl" />
      </geometry>
      <material name="flange_adapter_material">
        <color rgba="0.25 0.28 0.32 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_000.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_001.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_002.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_003.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_004.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_005.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_006.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_007.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_008.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_009.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_010.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_011.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_012.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_013.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_014.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_015.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_016.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_017.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_018.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_019.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_020.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_021.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_022.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_023.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_024.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_025.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_026.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_027.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_028.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_029.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_030.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_031.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_032.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_033.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_034.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_035.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_036.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_037.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_038.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_039.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_040.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_041.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_042.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_043.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_044.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_045.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_046.stl" />
      </geometry>
    </collision>
    <collision>
      <geometry>
        <mesh filename="meshes/collision/part_047.stl" />
      </geometry>
    </collision>
  </link>
  <link name="hand_mount">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1e-09" />
      <inertia ixx="1e-12" iyy="1e-12" izz="1e-12" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="hand_mount_joint" type="fixed">
    <origin xyz="0 0 0.0225" rpy="0 0 0" />
    <parent link="flange_link" />
    <child link="hand_mount" />
  </joint>
</robot>
